<nz-modal
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [(nzVisible)]="isVisible"
  [nzFooter]="modalFooter"
>
  <!--  <ng-template #modalTitle>Custom Modal Title</ng-template>-->

  <ng-template #modalContent>
    <p>Dịch</p>
    <br>
    <input placeholder="nhập từ cần dịch" id="inputTrans" type="text"/>
    <button nz-button nzType="primary" (click)="translate()">Dịch</button>
    <input placeholder="" [value]='responseWord' type="text"/>
    <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
      <thead>
      <tr>
        <th class="text-nowrap" nzWidth="15px" >STT</th>
        <th class="text-nowrap" >{{'Tên ứng dụng'}}</th>
        <th class="text-nowrap" >{{'Mô tả'}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data; let i = index;">
<!--        <td class="text-nowrap" nzWidth="15px">{{getRowIndex( i, formSearch.get('page').value,formSearch.get('pageSize').value)}}</td>-->
        <td class="text-nowrap" nzWidth="15px">{{i}}</td>
        <td>{{ data.searchValue }}</td>
        <td>{{ data.value }}</td>
<!--        <td>{{ getValue(data.value) }}</td>-->
      </tr>
      </tbody>
    </nz-table>
  </ng-template>
  <ng-template #modalFooter>
    <!--    <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>-->
    <button nz-button nzType="primary" (click)="handleOk()">Thêm</button>
    <button nz-button nzType="primary" (click)="handleCancel()">Thoat</button>
    <br>
  </ng-template>
</nz-modal>
