<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo" (click)="isCollapsed = !isCollapsed">
<!--      <a href="https://ng.ant.design/" target="_blank">-->
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
<!--      </a>-->
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>

  </nz-sider>
  <nz-sider class="menu-sidebar" style="background-color: #161F2D;" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed2" [nzTrigger]="null">
    <div class="sidebar-logo" style="background-color: #161F2D" >
      <span (click)="isCollapsed2 = !isCollapsed2">
            <i style="color: #EBEBEB;" class="trigger"
               nz-icon
               [nzType]="isCollapsed2 ? 'menu-unfold' : 'menu-fold'"
            ></i>
        <h1 style="color: #EBEBEB;">Ant Design Of Angular</h1>
        </span>
<!--      <a href="https://ng.ant.design/" target="_blank">-->
<!--        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">-->
<!--        <h1>Ant Design Of Angular</h1>-->
<!--      </a>-->
    </div>
    <div *ngIf="!isCollapsed2">
      <input style="background-color: #161F2D;border: #f0f2f5;color: #EBEBEB" type="text" placeholder="search text..." />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" style="background-color: #161F2D;" [nzInlineCollapsed]="isCollapsed2">
<!--    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed2">-->
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>



    </ul>
  </nz-sider>
<!--  <nz-layout  style="background-image: linear-gradient(to right, #00FFA9 , #0D4DFF);">-->
  <nz-layout class="bg-main-color">
<!--    <nz-header>-->
<!--      <div class="app-header">-->
<!--        <span class="header-trigger" (click)="isCollapsed2 = !isCollapsed2">-->
<!--            <i class="trigger"-->
<!--               nz-icon-->
<!--               [nzType]="isCollapsed2 ? 'menu-unfold' : 'menu-fold'"-->
<!--            ></i>-->
<!--        </span>-->
<!--      </div>-->
<!--    </nz-header>-->
    <nz-content class="ccnz-content">
      <div nz-row class="full-height fex-content-between">
        <div class="col-9">
          <div class="inner-content">
            <router-outlet></router-outlet>
            <div nz-row class="row-input-center">
              <!--          <div nz-col [nzSpan]="18" class="ccard-shadow input-content-center"></div>-->
              <div nz-col [nzSpan]="18" class="input-content-center">

<!--                khung nhap du lieu text-->

                <div style="padding: 10px" class="editor">
                  <ngx-editor [editor]="editor"> </ngx-editor>
                  <ngx-editor-floating-menu [editor]="editor">
                    <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
                  </ngx-editor-floating-menu>
                </div>
<!--                <div id="editorjs"></div>-->
<!--               end khung nhap du lieu text-->

              </div>
            </div>
          </div>
        </div>
        <div class="col-3 ccard-shadow extent-info-nav">
          <div nz-row style="padding: 20px" class="timer-widget">
            <div nz-row style="display: block">
              <span style="font-size: 20px">11/05/2021</span>
            </div>
            <div nz-row>
              <span>04:33 PM</span>
            </div>
            <div nz-row>
              <span>Thứ Hai</span>
            </div>
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
